python-dotenv
Flask==3.0.2
Jinja2==3.1.2
openai==1.40.6
pytest==7.4.3
flask-cors==4.0.1
flask-session==0.8.0
gunicorn==23.0.0


google-generativeai==0.7.2
google-cloud-speech==2.27.0
google-cloud-storage==2.18.2