@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .textarea {
    width: 100%;
    min-height: 150px;
    max-height: 80vh;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Dark mode styles */
  .dark .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
  
  .dark .text-white {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }