.output_wrapper {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    margin: 6px 6px;
    padding: 6px;
    border-radius: 10px;
    background: #f9f9f9;
}

.output_wrapper * {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 1.5em 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0px;
    font-weight: bold;
}

h1 {
    text-align: center;
    line-height: 1.75;
    font-family: "Optima-Regular", Optima, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    margin: 2em auto 1em;
    padding: 0 1em;
    border-bottom: 4px solid #5e6ad2;
    color: #5e6ad2;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    border-radius: 5px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #5e6ad2;
    color: #5e6ad2;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    border-radius: 5px;
    margin-bottom: 1.5em;
}

h3 {
    font-weight: bold;
    padding-left: 12px;
    border-left: 4px solid #5e6ad2;
    color: #5e6ad2;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    border-radius: 5px;
}

h4 {
    font-weight: bolder;
    padding-left: 12px;
    border-left: 4px solid #5e6ad2;
    color: #5e6ad2;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    border-radius: 5px;
}

h5 {
    font-weight: bolder;
    padding-left: 12px;
    border-left: 4px solid #5e6ad2;
    color: #5e6ad2;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    border-radius: 5px;
}

h6 {
    font-weight: bolder;
    padding-left: 12px;
    border-left: 4px solid #5e6ad2;
    color: #5e6ad2;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    border-radius: 5px;
}

ul, ol {
    padding-left: 32px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5em;
}

.code_size_default {
    line-height: 18px;
    font-size: 14px;
    font-weight: normal;
    word-spacing: 0px;
    letter-spacing: 0px;
    background: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.code_size_tight {
    line-height: 15px;
    font-size: 11px;
    font-weight: normal;
    word-spacing: -3px;
    letter-spacing: 0px;
    background: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

pre code {
    font-family: Consolas, Inconsolata, Courier, monospace;
    border-radius: 5px;
    background: #f0f0f0;
    color: #333;
    padding: 10px;
}

blockquote {
    display: block;
    padding: 15px 1rem;
    font-size: 0.9em;
    margin: 1em 0;
    color: #819198;
    border-left: 6px solid #5e6ad2;
    background: #f2f7fb;
    overflow: auto;
}

blockquote p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #1e6bb8;
    word-wrap: break-word;
}

strong {
    color: #c85d55;
    font-weight: bold;
}

em {
    font-style: italic;
}

del {
    font-style: italic;
}

strong em {
    font-weight: bold;
}

hr {
    height: 1px;
    margin: 1.5rem 0px;
    border: none;
    border-top: 1px dashed #5e6ad2;
}

code {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    color: #5e6ad2;
    background: #f8f8f8;
}

figure {
    padding: 6px 6px 6px 10px;
}

img {
    border-radius: 9px;
    box-shadow: none;
    font-size: 17px;
    width: 660px !important;
    height: auto !important;
    visibility: visible !important;
}

figcaption {
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 0.7em;
    display: none;
}

table {
    display: table;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tbody {
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #5e6ad2;
    background-color: #f9f9f9;
}

table tr th, table tr td {
    font-size: 1em;
    border: 1px solid #5e6ad2;
    padding: 0.5em 1em;
    text-align: left;
    color: #333;
}

table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
}

.katex-display {
    font-size: 1.22em;
}

.katex {
    padding: 8px 3px;
}

.katex-display > .katex {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.katex img {
    display: inline-block;
    vertical-align: middle;
}

a[href^="#"] sup {
    vertical-align: super;
    margin: 0 2px;
    padding: 1px 3px;
    color: #ffffff;
    background: #666666;
    font-size: 0.7em;
}

.task-list-list {
    list-style-type: none;
}

.task-list-list.checked {
    color: #3e3e3e;
}

.task-list-list.uncheck {
    color: #bfc1bf;
}

.task-list-list .icon_uncheck, .task-list-list .icon_check {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.task-list-list .icon_check:before {
    content: "√";
    border: 2px solid #3e3e3e;
    color: red;
}

.task-list-list .icon_uncheck:before {
    content: "x";
    border: 2px solid #bfc1bf;
    color: #bfc1bf;
}

.task-list-list .icon_check:before, .task-list-list .icon_uncheck:before {
    padding: 2px;
    padding-left: 5px;
    padding-right: 8px;
    border-radius: 5px;
}

.toc {
    margin-left: 25px;
}

.toc_item {
    display: block;
}

.toc_left {
    margin-left: 25px;
};