<!DOCTYPE html>
<html lang="zh-CN" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://qiniu.bigdudu.cn/icon.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://qiniu.bigdudu.cn/icon.ico" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <title>MarkTools-{% block title %}MarkTools{% endblock %}</title>
    {% block head %}{% endblock %}
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id:"3JRmuSkfiYNbkd4t",ck:"3JRmuSkfiYNbkd4t"})</script>
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    {% block body %}{% endblock %}
</body>
</html>