{% extends "_base.html" %}

{% block title %}智能洗稿{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
<style>
    .content-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: -20px;
    }

    .left-panel, .right-panel {
        width: 48%;
        display: flex;
        flex-direction: column;
    }

    .control-panel {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
    }

    .textarea-container {
        height: calc(100vh - 250px);
        width: 100%;
    }
    .result-container {
        height: calc(100vh - 250px);
        width: 100%;

    }

    #article-content, #rewrite-result {
        overflow-y: auto; /* 添加垂直滚动条 */
        width: 100%;
        height: 100%;
        resize: none;
        background-color: rgba(255, 255, 255, 0.05);
        color: #e3e3e3;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 15px;
        font-size: 16px;
        line-height: 1.6;
        
    }

    .panel-title {
        font-size: 1.2em;
        color: #a5b4fc;
        margin-bottom: 10px;
        text-align: center;
    }
    #rewrite-result-comment {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    #rewrite-result-hook {
        white-space: pre-wrap;
        word-wrap: break-word;
    }


    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    #lottie-container {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <a href="{{ url_for('main.home') }}" class="home-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
    </a>
    <div class="flex flex-col items-center w-full max-w-6xl bg-white bg-opacity-5 backdrop-blur-md rounded-2xl p-8 shadow-lg">
        <div class="title-container">
            <h1 class="text-4xl font-bold bg-gradient-to-r from-indigo-600 to-purple-600 bg-clip-text text-transparent shadow-lg">智能洗稿</h1>
            <div id="lottie-container"></div>
        </div>
        <div class="content-wrapper">
            <div class="left-panel">
                <!-- <div class="panel-title">原文</div> -->
                <div class="control-panel">
                    <div class="checkbox-wrapper">
                        <label class="custom-checkbox">
                            专家翻译
                            <input type="checkbox" id="translate-checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkbox-wrapper">
                        <label class="custom-checkbox">
                            文案大师
                            <input type="checkbox" id="master-checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <button id="rewrite-btn" class="bg-gradient-to-r from-indigo-500 to-purple-600 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:from-indigo-600 hover:to-purple-700 transition duration-300">
                        洗稿
                    </button>
                </div>
                <div class="textarea-container">
                    <textarea id="article-content" placeholder="请在此输入您的Markdown格式文章..."></textarea>
                </div>
            </div>
            <div class="right-panel">
                <div class="control-panel">
                    <button id="copy-btn" class="bg-gradient-to-r from-indigo-500 to-purple-600 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:from-indigo-600 hover:to-purple-700 transition duration-300">
                        复制
                    </button>
                </div>
                <div class="result-container">
                    <div id="rewrite-result">
                        <div id="rewrite-result-title"></div>
                        <div id="rewrite-result-hook"></div>
                        <div id="rewrite-result-translate"></div>
                        <div id="rewrite-result-body"></div>
                        <div id="rewrite-result-comment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function typewriterEffect($element, text, speed = 10) {
        let i = 0;
        $element.html('').css('white-space', 'pre-wrap');
        
        function typeWriter() {
            if (i < text.length) {
                $element.html($element.html() + text.charAt(i));
                i++;
                setTimeout(typeWriter, speed);
            }
        }
        
        typeWriter();
    }
    // 保持原有的JavaScript代码不变
    $(document).ready(function () {
        $('#rewrite-btn').on('click', function () {
            // 清空所有结果区域
            $('#rewrite-result-hook, #rewrite-result-comment, #rewrite-result-body, #rewrite-result-title').html('');
            $('#rewrite-result-translate').removeClass('hidden');

            var content = $('#article-content').val();
            var translate = $('#translate-checkbox').is(':checked');
            var master = $('#master-checkbox').is(':checked');
            var uuid = Utils.generateUUID();

            $.ajax({
                url: '/do_rewrite',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ content: content, translate: translate, uuid: uuid, master: master }),
                success: function(response) {
                    if (response.success) {
                        //showToast('开始洗稿', 'success');
                        const eventSource = new EventSource('/do_rewrite_stream?uuid=' + uuid);

                        eventSource.onmessage = function(event) {
                            const data = JSON.parse(event.data);
                            console.log(data);
                            switch (data.step) {
                                case 'hook':
                                    data.content = "# 要点速览：  \n" + data.content;
                                    typewriterEffect($('#rewrite-result-hook'), data.content);
                                    break;
                                case 'comment':
                                    data.content = "# Mark说：  \n" + data.content;
                                    typewriterEffect($('#rewrite-result-comment'), data.content);
                                    break;
                                case 'translate':
                                    data.content = "# 翻译：  \n" + data.content;
                                    typewriterEffect($('#rewrite-result-translate'), data.content);
                                    break;
                                case 'body':
                                    data.content = "# 正文：  \n" + data.content;
                                    $('#rewrite-result-translate').addClass('hidden');
                                    typewriterEffect($('#rewrite-result-body'), data.content);
                                    break;
                                case 'title':
                                    data.content = "# 建议标题：  \n" + data.content;
                                    typewriterEffect($('#rewrite-result-title'), data.content);
                                    break;
                                case 'show_toast':
                                case 'complete':
                                    showToast(data.content, 'success');
                                    break;
                            }
                            if (data.step === 'complete') {
                                eventSource.close();
                            }
                        };

                        eventSource.onerror = function(error) {
                            console.error('EventSource failed:', error);
                            eventSource.close();
                        };
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX request failed:', status, error);
                }
            });
        });
        // 添加复制按钮的点击事件处理
        $('#copy-btn').on('click', function () {
            // 获取rewrite-result元素中所有子div的文本,排除rewrite-result-translate,并去除前后空格
            var resultText = $('#rewrite-result').children('div').not('#rewrite-result-translate').map(function() {
                return $(this).text().trim();
            }).get().join('\n\n');  // 使用两个换行符分隔每个div的内容
            
            // 创建一个临时的textarea元素
            var tempTextArea = $('<textarea>');
            tempTextArea.val(resultText);
            $('body').append(tempTextArea);
            
            // 选中并复制文本
            tempTextArea.select();
            document.execCommand('copy');
            
            // 移除临时的textarea元素
            tempTextArea.remove();
            
            // 显示复制成功的提示
            showToast('复制成功', 'success');
        });
        // 添加Lottie动画
        var animation = lottie.loadAnimation({
            container: document.getElementById('lottie-container'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'https://123.markup.com.cn/ibed/202408301635416.json'
        });
        $('#lottie-container').on('click', function() {
            showModal('智能洗稿说明', '【推荐用法】扒国外的新闻，或者从国内找2-3篇同主题不同内容的文章，直接点击“洗稿” <br/> 【专家翻译】会先将原文翻译成中文，然后再洗 <br/>【文案大师】原文只有一篇中文文章，推荐使用文案大师');
        });
    });

</script>
{% endblock %}